{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 0}],
    "object-curly-spacing": [2, "always"],
    "semi": ["error", "never"]
  }
}
